@import "tailwindcss";

@theme {
    --font-oxanium: "Oxanium", sans-serif;
    --font-jakarta: "Plus Jakarta Sans", sans-serif;
    --color-mainBlack: #040314;
    --color-mainPurple: #7A09C1;
    --color-darkPurple: #3A045B;
}

.logo-shadow {
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.38));
    -webkit-filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.38));
}

.box-shadow-timeline {
    box-shadow : 3px 4px 15px 0 rgba(255,255,255, 0.38);
}

.box-shadow-card {
    box-shadow : 3px 4px 20px 0 rgba(255,255,255, 0.45);
}

.shadow-text {
    text-shadow: 17px 15px 1px rgba(0,0,0, 0.50);
}

.drop-shadow-text {
    filter: drop-shadow(17px 15px 0.5px rgba(0,0,0, 0.50));
}

.navbar-fixed {
    @apply fixed z-[999];
    backdrop-filter: blur(10px);
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
}

.shadow-green-glow {
    box-shadow: 0 0 200px 120px rgba(0, 212, 255, 0.5);
}
.shadow-green-glow-2 {
    box-shadow: 0 0 200px 90px rgba(0, 212, 255, 0.5);
}

.shadow-purple-glow {
    box-shadow: 0 0 200px 150px rgba(122, 9, 193);
}
.shadow-purple-glow-2 {
    box-shadow: 0 0 200px 150px rgba(122, 9, 193, 0.60);
}

.menu-link {
    position: relative;
    overflow: hidden;
}

.menu-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(255, 255, 255, 0.05);
    transition: height 0.3s ease-in-out;
    z-index: 0;
}

.menu-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
    z-index: 1;
}

/* Efek aktif saat class active (hover state true) */
.menu-link.active::before {
    height: 100%;
}

.menu-link.active::after {
    width: 100%;
}

#hero h1 {
    color: transparent;
    text-shadow: 8px 4px 3px rgba(255,255,255), 0 0 #d6d4d4, 
    0px 4px 0px #d6d4d4, 8px 0px 0px #d6d4d4, 17px 15px 1px rgba(0, 0, 0, 0.25);
}

#about h1 {
    color: transparent;
    text-shadow: 2px 0px 3px rgba(255,255,255), 1px 0px #d6d4d4, 
    0px 0px 0px #d6d4d4, 3px 0px 0px #d6d4d4, 17px 15px 1px rgba(0, 0, 0, 0.25);
}

#hero p {
    text-shadow: 10px 8px 1px rgba(0, 0, 0, 0.25);
}

.card {
    width: 230px;
    border-radius: 20px;
    background: #1b233d;
    padding: 5px;
    overflow: hidden;
    box-shadow: rgba(255,255,255, 0.2) 0px 7px 20px 2px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    transform: scale(1.05);
}

.card .top-section {
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
    position: relative;
}

.card .top-section .border {
    border-bottom-right-radius: 10px;
    height: 30px;
    width: 130px;
    background: white;
    background: #1b233d;
    position: relative;
    transform: skew(-40deg);
    box-shadow: -10px -10px 0 0 #1b233d;
}

.card .top-section .border::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: -15px;
    background: rgba(255, 255, 255, 0);
    border-top-left-radius: 10px;
    box-shadow: -5px -5px 0 2px #1b233d;
}

.card .top-section::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    height: 15px;
    width: 15px;
    border-top-left-radius: 15px;
    box-shadow: -5px -5px 0 2px #1b233d;
}

.card .top-section .icons {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.card .top-section .icons .logo .top-section {
    height: 100%;
}

.card .top-section .icons .social-media {
    height: 100%;
    padding: 8px 15px;
    display: flex;
    gap: 7px;
}

/* Button Get Started */
.button {
    --border_radius: 9999px;
    --transtion: 0.3s ease-in-out;
    --offset: 2px;
    border-radius: var(--border_radius);
    padding: 1rem 2rem;
    transform: scale(calc(1 + (var(--active, 0) * 0.1)));
    transition: transform var(--transtion);
    -webkit-border-radius: var(--border_radius);
    -moz-border-radius: var(--border_radius);
    -ms-border-radius: var(--border_radius);
    -o-border-radius: var(--border_radius);
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #1F1F1F;
    border-radius: var(--border_radius);
    box-shadow: inset 0 0.5px hsl(0, 0%, 100%), inset 0 -1px 2px 0 hsl(0, 0%, 0%),
      0px 4px 10px -4px hsla(0 0% 0% / calc(1 - var(--active, 0))),
      0 0 0 calc(var(--active, 0) * 0.375rem) hsla(0, 0%, 0%, 0.1);
    transition: all var(--transtion);
    z-index: 0;
  }
  
  .button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: hsla(250 80% 65% / 0.75);
    background-image: radial-gradient(
        at 51% 89%,
        hsla(266, 45%, 74%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 100% 100%, hsla(266, 36%, 60%, 1) 0px, transparent 50%),
      radial-gradient(at 22% 91%, hsla(266, 36%, 60%, 1) 0px, transparent 50%);
    background-position: top;
    opacity: var(--active, 0);
    border-radius: var(--border_radius);
    transition: opacity var(--transtion);
    z-index: 2;
  }
  
  .button:is(:hover, :focus-visible) {
    --active: 1;
  }
  .button:active {
    transform: scale(1);
  }
  
  .button .dots_border {
    --size_border: calc(100% + 2px);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--size_border);
    height: var(--size_border);
    background-color: transparent;
    border-radius: var(--border_radius);
    z-index: -10;
  }
  
  .button .dots_border::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left;
    transform: rotate(0deg);
    width: 100%;
    height: 2rem;
    background-color: white;
    mask: linear-gradient(transparent 0%, white 120%);
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  .button .sparkle {
    position: relative;
    z-index: 10;
    width: 1.75rem;
  }
  
  .button .sparkle .path {
    fill: currentColor;
    stroke: currentColor;
    transform-origin: center;
    color: hsl(0, 0%, 100%);
  }
  
  .button:is(:hover, :focus) .sparkle .path {
    animation: path 1.5s linear 0.5s infinite;
  }
  
  .button .sparkle .path:nth-child(1) {
    --scale_path_1: 1.2;
  }
  .button .sparkle .path:nth-child(2) {
      --scale_path_2: 1.2;
  }
  .button .sparkle .path:nth-child(3) {
    --scale_path_3: 1.2;
  }
  
  @keyframes path {
    0%,
    34%,
    71%,
    100% {
      transform: scale(1);
    }
    17% {
      transform: scale(var(--scale_path_1, 1));
    }
    49% {
      transform: scale(var(--scale_path_2, 1));
    }
    83% {
      transform: scale(var(--scale_path_3, 1));
    }
  }
  
    .button .text_button {
        position: relative;
        z-index: 10;
        background: white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1rem;
        font-weight: 600;
        color: transparent;
    }
/* Button Get Started */

/* Card Daftar Sekarang */
/* From Uiverse.io by eslam-hany */ 
.card-daftar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.card-daftar::before {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #00D4FF;
    transition: all 0.5s;
}

.card-daftar::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #7A09C1;
    transition: all 0.5s;
}

.card-daftar::before {
    top: 0;
    right: 0;
    border-radius: 0 65px 0 100%;
}

.card-daftar::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 65px;
}

.card-daftar:hover::before,
.card-daftar:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 65px;
    transition: all 0.5s;
}

.card-daftar:hover:after {
    content: "DAFTAR SEKARANG!";
}
/* Card Daftar Sekarang */